<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ludei.usersplash.android"
    version="2.0.0">

    <name>User Splash Plugin</name>

    <description>
        Cocoon Splash plugin allows the user to set a splash. It can be customized with different preferences:

            - CocoonSplashScaleMode: scaleAspectFit, scaleAspectFill, scaleToFill
            - CocoonSplashBackgroundColor: Hex color to fill the background with
            - CocoonSplashPadding: A padding around the image in "pt"
            - CocoonSplashDelay: A delay while the splash will be shown before the app shows
    </description>

    <license>Copyright Ludei</license>

    <engines>
        <!-- Requires > 3.5.0 because of the custom Framework tag for Android [CB-6698] -->
        <engine name="cordova" version=">=3.5.0" />
        <engine name="cordova-android" version=">=7" />
    </engines>

    <platform name="android">
        <hook type="after_install" src="scripts/after_install.js" />

        <config-file target="app/src/main/res/xml/config.xml" parent="/*">
            <feature name="UserSplashPlugin">
                <param name="android-package" value="com.ludei.usersplash.android.UserSplashPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/UserSplashPlugin.java" target-dir="src/com/ludei/usersplash/android" />

    </platform>
</plugin>
